<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="GhoSter\ChangeCustomerPassword\Command\CustomerChangePasswordCommand">
        <arguments>
            <argument name="resource" xsi:type="object">Magento\Customer\Model\ResourceModel\Customer\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="customer-change-password-console-command"
                      xsi:type="object">GhoSter\ChangeCustomerPassword\Command\CustomerChangePasswordCommand
                </item>
            </argument>
        </arguments>
    </type>
</config>
